<div id="main" fxLayout="column" fxLayoutAlign="space-around center" >

  <div class="welcome">
    <div class="title">
      <h2>Hi, my name is Mikołaj Skromny and I am Angular Developer</h2>
      <span class="byline">at least try to be.</span>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <p class="description" fxFlex="50">I live in Wrocław and I am a 5<sup>th</sup> year student of ICT at Wroclaw University of
      Technology. I started learning Angular in early 2018 and after two months I started working. Over time it
      became my passion. Otherwise I love to play
      football, basketball and every other team sport.</p>
  </div>

  <div class="dwnld-btn" id="download-btn">
    <button class="download-cv">
      <a href="../../../assets/mikolaj_skromny_cv.pdf" download target="_blank">
    <span class="circle" aria-hidden="true">
      <span class="icon arrow"></span>
    </span>
        <span class="button-text">Download CV</span>
      </a>
    </button>
  </div>
</div>

