<div id="page" class="container">
  <!--<div class="menu_btn">
    <a (click)="toggleMenu()" class="d-lg-inline-block menu_btn">
      <span></span> <span></span> <span></span>
    </a>
  </div>-->
  <!--<div [ngClass]="{'menu-open-active': openedMenu}" class="menu-open" id="menu">
    <ul>
      <li><a routerLink="/about">About me</a></li>
      <li><a routerLink="/">Contact</a></li>
      <li><a routerLink="/">Social media</a></li>
      <li><a routerLink="/">Careers</a></li>
    </ul>
  </div>-->
  <nav role="navigation">
    <div id="menuToggle">

      <input type="checkbox"/>

      <span></span>
      <span></span>
      <span></span>

      <!--
      Too bad the menu has to be inside of the button
      but hey, it's pure CSS magic.
      -->
      <ul id="menu">
        <li><a routerLink="/about">About me</a></li>
        <li><a routerLink="/">Contact</a></li>
        <li><a routerLink="/">Social media</a></li>
        <li><a routerLink="/">Careers</a></li>
      </ul>
    </div>
  </nav>
  <app-about style="z-index: 100"></app-about>

</div>
