<div id="page" class="container">
  <nav role="navigation">
    <div id="menuToggle">

      <input type="checkbox"/>

      <span></span>
      <span></span>
      <span></span>

      <!--
      Too bad the menu has to be inside of the button
      but hey, it's pure CSS magic.
      -->
      <ul id="menu">
        <li><a routerLink="/about">About me</a></li>
        <li><a routerLink="/">Contact</a></li>
        <li><a routerLink="/">Social media</a></li>
        <li><a routerLink="/">Careers</a></li>
      </ul>
    </div>
  </nav>
  <app-about style="z-index: 100"></app-about>

</div>
